<nav class="navbar navbar-expand-sm bg-dark">
    <ul class="navbar-nav m-auto">
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/" routerLinkActive="active">Accueil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/gallerie" routerLinkActive="active">Gallerie</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/about" routerLinkActive="active">A propos</a>
      </li>
    </ul>

  </nav>
